<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>New User</title>
</head>
<body>
<h1>Log In</h1>

<form action="#" th:action="@{/users/signIn}" th:object="${form}" method="post">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    <section>
        Email: <input type="text" th:field="*{email}" />
        <div>&nbsp;</div>
    </section>
    <section>
        Password: <input type="password" th:field="*{password}" />
        <div>&nbsp;</div>
    </section>
    <button name="create" type="submit">Login</button> |
    <a href="/users/new">Sign Up</a>
</form>

</body>
</html>