<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>To Do List</title>
</head>
<body>
    <h1>To Do List:</h1>

    <form action="#" th:action="@{/}" th:object="${newTodo}" method="post">
        Task: <input type="text" th:field="*{task}" />
        <button name="addTask" type="submit">Add</button>
    </form>

    <form action="#" th:object="${todoListViewModel}" th:action="@{/update}" method="post">
        <h2>Tasks:</h2>
        <ul th:each="todo, stat : *{todos}">
            <li>
                <input type="hidden" th:field="*{todos[__${stat.index}__].id}" />
                <input type="checkbox" th:field="*{todos[__${stat.index}__].done}" />
                <span th:unless="${todo.done}" th:text="${todo.task}"></span>
                <strike th:if="${todo.done}" th:text="${todo.task}"></strike>
                <a th:href="'/delete/' + ${todo.id}">×</a>
            </li>
        </ul>
        <button name="updateList" type="submit">Update List</button>
    </form>

</body>
</html>