<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>To Do List</title>
    <script src="webjars/jquery/2.2.1/jquery.min.js"></script>
    <script src="webjars/handlebars/4.0.5/handlebars.min.js"></script>
    <script src="javascripts/index.js"></script>
</head>
<body>
    <h1>To Do List (<span class="username" th:text="${currentUser.name}"></span>):</h1>

    <form id="new-todo-form" action="#" th:action="@{/}" th:object="${newTodo}" method="post">
        Task: <input type="text" th:field="*{task}" />
        <button id="add-task" name="addTask" type="submit">Add</button>
    </form>

    <form action="#" th:object="${todoListViewModel}" th:action="@{/update}" method="post">
        <h2>Tasks:</h2>
        <div>
            [ <a href="/">All</a> |
            <a href="/?filter=pending">Pending</a> |
            <a href="/?filter=completed">Completed</a> ]
        </div>
        <ul id="todo-list">
            <li th:each="todo : *{todosMap}">
                <input type="hidden" th:field="*{todosMap[__${todo.key}__].id}" />
                <input type="checkbox" th:field="*{todosMap[__${todo.key}__].done}" />
                <span th:unless="${todo.value.done}" th:text="${todo.value.task}"></span>
                <strike th:if="${todo.value.done}" th:text="${todo.value.task}"></strike>
                <a th:href="'/delete/' + ${todo.value.id}">×</a>
            </li>
        </ul>
        <button id="updateListButton" name="updateList" type="submit">Update List</button>
        <a href="/delete/completed">Remove Completed</a>
    </form>

    <form action="#" th:action="@{/logout}" method="post">
        <button name="addTask" type="submit">logout</button>
    </form>

    <script id="todo-template" type="text/x-handlebars-template">
        {{#each todos}}
            <li>
                <input type="hidden" name="todosMap[{{id}}].id" value="{{id}}" />
                {{#if done}}
                    <input type="checkbox" name="todosMap[{{id}}].done" value="true" checked="checked" />
                    <strike>{{task}}</strike>
                {{else}}
                    <input type="checkbox" name="todosMap[{{id}}].done" value="true" />
                    <span>{{task}}</span>
                {{/if}}
                <input type="hidden" name="_todosMap[{{id}}].done" value="on" />
                <a href="/delete/{{id}}">×</a>
            </li>
        {{/each}}
    </script>
</body>
</html>